body {
  display: flex;
  font-size: 20px;
  font-family: Arial;
  background: url(images/Bowen_House_Beehive_Parliament.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
}
li{
  list-style: none;
  margin: 0 10px 40px 0;
  padding: 5px;
}
select, input {
  width: 200px;
  font-size: 20px;
}

img {
  background-color: white;
  width: 100%;
}
.right-div {
  background-color: white;
  margin: 25px;
  padding: 15px;
  border: aliceblue 2px solid;
  font-size: 20px;
  opacity: 0.90;
}
.left-div {
  text-align: center;
  background-color: white;
  margin: 3%;
  border: aliceblue 2px solid;
  opacity: 0.90;
}
.roll {
  display: block;
  margin: auto;
  margin-top: 15px;
}
.label {
  font-weight: bold;
}
p {
  display: inline-block;
}
